{% extends 'layout.html' %}
{% block content %}

 <button onclick="location.href='/'" type="button">
         Log Out</button><br><br>

  <a HREF="https://www.imdb.com"> IMDB<a/><br>
                <a HREF="https://www.rottentomatoes.com/"> Rotten Tomatoes<a/>
<center>

<div class="container">
  <div class="row">
              <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
      <header>
<img src="{{url_for('static',filename='logo.jpg' )}}" class="img-fluid"  width="500" height="600">
    <h1 class="pt50 pb40">Your Home Of Films</h1>
    <button onclick="location.href='/home'" type="button">
         Home</button><br>
      </header>
    </center>
{% if record %}
<br><br><br>
    <ul>
        {% for field in record %}
        <ol> <em>{{ field }}</em>: {{record[field]|safe}} </ol>
        {% endfor %}
    </ul>
<center>
<br><a href="{{ url_for('film_purchase', id=record['film_id']) }}">---PURCHASE FILM---</a>
    <br><br><br><br><br><br><br><br>

{% else %}
<h2>No records returned.</h2>
{% endif %}
</center>
{% endblock %}
