{% extends 'layout.html' %}
{% block content %}
<a href="/home">Home</a> <a href="/">Log Out</a>
<center>
<img src="{{url_for('static',filename='logo.jpg' )}}" class="img-fluid"  width="500" height="900" align="center">
</center>
{% if record %}<center>
<br><br><br>
    <ul>
        {% for field in record %}
        <li> <em>{{ field }}</em>: {{record[field]|safe}} </li>
        {% endfor %}
    </ul>

<br><a href="{{ url_for('film_purchase', id=record['film_id']) }}">PURCHASE</a><br>
    <a href="/home">Home</a>
{% else %}
<h2>No records returned.</h2>
{% endif %}
</center>
{% endblock %}
