{% extends 'layout.html' %}
{% block content %}
	<!-- FROM home.html -->
{% include 'navigation.html' %}

            <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
        <h1>{{title}}</h1>
        <p>{{description}}</p>
{% if records %}
    <h2 class="lead">>There are {{ records|length }} records in the Films table!</h2>
    <table>
        <tr><th>Film ID</th><th>Title</th><<th>Description</th><th>Genre</th><th>Streams</th><th>Rating</th><th>Trailer</th></tr>
        {% for record in records %}
        <tr>

            <td><a href="{{ url_for('film_display',id=record['film_id']) }}">{{ record['film_id'] }}</a></td>
            <td>{{ record['title'] }} </td>
            <td>{{ record['description'] }} </td>
            <td>{{ record['genre']}} </td>
            <td>{{ record['streams']}} </td>
            <td>{{ record['age_rating']}} </td>
            <td>{{ record['trailer']|safe}} </td>

        </tr>
        {% endfor %}
    </table>
{% else %}
<h2>No records returned.</h2>
{% endif %}
	<!-- home.html ends here-->
{% endblock %}
