{% extends 'layout.html' %}
{% block content %}
<!-- FROM navigation.html - CHANGE TO USE use url_for here-->
<div class="container">
  <div class="row">
              <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
      <header>
    <h1 class="pt-5 pb-2">Sky Flix</h1>
   <nav>

    <a href="/home">Log In</a>
    <a href="/register2">Register</a>
       <br> <br> <br>
       <a href="/contact">Contact Us</a>
  </nav>
          {%  if user %}
          <p>Hello {{ user }}</p>


          {% endif %}
</header>
  </div>
  </div>

<!-- navigation.html ends here-->
    {% endblock %}