{% extends 'layout.html' %}
{% block content %}
<!-- FROM navigation.html - CHANGE TO USE use url_for here-->
<div class="container">
  <div class="row">
              <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
      <header>
         <center><img src="{{url_for('static',filename='logo.jpg')}}" class="img-fluid"   width="500" height="200"></center>

   <nav>
        <center>
    <a href="/home">Log In</a>
    <a href="/register2">Register</a>
       <br> <br> <br>
       <a href="/contact">Contact Us</a>
        </center>
  </nav>
          {%  if user %}
          <p>Hello {{ user }}</p>


          {% endif %}
</header>
  </div>
  </div>

<!-- navigation.html ends here-->
    {% endblock %}