{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles %}
{{ super() }}
	<style>
		body { background: #99ccff; }
		header { background: #fe1000; }
		.button {

	</style>
{% endblock %}
  <body>
  <div class="container">

  {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
		<div class="alert alert-danger" role="alert">
			{{ message }}
		</div>
    {% endfor %}
  {% endif %}
{% endwith %}
    {% block content %}

  {% endblock %}
  </div>
  </body>
