<!-- FROM navigation.html - CHANGE TO USE use url_for here-->
   <nav>
       <button onclick="location.href='/'" type="button">
         Log Out</button><br><center>

       <button onclick="location.href='/home'" type="button">
         Home</button><br> </center>

            <a HREF="https://www.imdb.com"> IMDB<a/><br>
                <a HREF="https://www.rottentomatoes.com/"> Rotten Tomatoes<a/>





   </nav>
<div class="container">
  <div class="row">
              <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
      <header><center>
<img src="{{url_for('static',filename='logo.jpg' )}}" class="img-fluid"  width="500" height="600">
    <h1 class="pt50 pb40">Your Home Of Films!</h1>
</center>
          {%  if user %}
          <center><b><p>Hello {{ user }}</p>
          {% else %}
          <p>Not logged in</p>
          {% endif %}</b></center>
</header>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
		<div class="alert alert-info" role="alert">
			{{ message }}
		</div>
    {% endfor %}
  {% endif %}
{% endwith %}
  </div>
  </div>
</div>


<!-- navigation.html ends here-->
